*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;  /*to search */
    cursor: pointer;
}
body{
    font-family: 'poppins',sans-serif;
    width: 100%;
    height: 100vh;
    background: #121213;
    display: grid;
    place-items: center;
}
.mainbody{
    width: 85%;
    height: 90%;
    border: 1px solid white;
    display:flex;
    flex-wrap: wrap;
    z-index: 4;
}
.menu{
    width: 25%;
    height: 90%;
    background: #111727;
    color: white;
    z-index: 3;
}
.song{
    width: 75%;
    height: 90.01%;
    background: #0b1320;
    box-shadow:0px 0px 0px 5px 2px #090f1f ;
    z-index: 2;
    overflow: auto;
}
.song::-webkit-scrollbar{
    display: none;
}
.player{
    position: relative;
    width: 100%;
    height: 10%;
    background: #111727;
    box-shadow:0px -10px 30px #090f1f;
}
.head{
    margin: 15px 0px 0px 20px; 
}
.Playlists {
    margin: 40px 0px 0px 20px;
}
h4{
    padding-bottom: 10px;
    color: #4c5262;
    font-size: 14px;
    font-weight: 400px;
    transition: 300ms linear;
    cursor: pointer;
    display: flex;
    align-items: center;
}
h4:hover{
    color: white;
}
h4 span{
    position:relative;
    margin-right: 35px;
}
h4 span::before{
    content: ' ';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border :2px solid #4c5262;
    top: -4px;
    transition: .3s linear;
}
h4:hover span::before{
    border: 2px solid white;
}
h4 .bi,.active span{
    display:none;
}
.active .bi {
    display: flex;
    color: #36e2ec;
    margin-right: 20px;
}
.menu_song{
    margin-top: 40px;
    overflow:auto;
    height: 385px;
    width: 100%;
}
.menu_song li{
    position: relative;
    margin-bottom: 10px;
    padding: 5px 0px 5px 0px;
    width: 100%;
    display: flex;
    cursor: pointer;
    transition: .3s linear;
    align-items: center;
}
.menu_song::-webkit-scrollbar{
    display: none;
}
.menu_song li h3{
    width :230px;
    padding-left: 15px;
    overflow: auto;
    font-size: 15px;
}
.menu_song li span{
    color: #4c5262;
    padding-left:10px ;
    font-size:  12px; ;
}
.subtitle{
    font-size: 12px;
    color: #4c5262;
}
li img{
    height :32px;
    width: 32;
    padding-left: 4px;
}
.menu_song li:hover{
    background: rgb(105, 105, 105,.1);
}
.wave{
    width: 30px;
    height:30px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-left: 10px;
}
.wave .wave1{
    width:3px;
    height:10px;
    background:#36e2ec;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    /* animation: wave .5s linear infinite; */
}
.wave .wave1:nth-child(2){
    height: 13px;
    animation-delay: .4s;
}
.wave .wave1:nth-child(3){
    height: 8px;
    animation-delay: 0.8s;
}
@keyframes wave{
    0% {
        height: 5px;
    }
    50% {
        height: 15px;
    }
    100% {
        height: 12px;}
}
.active1 .wave1{
    animation: wave .5s linear infinite;
}
.active1 .wave1:nth-child(2){
    height: 13px;
    animation-delay: .4s;
}
.active1 .wave1:nth-child(3){
    height: 8px;
    animation-delay: 0.8s;
}
#poster_image1{
    height: 40px;
    width: 30px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-left: 10px;
}
.player{
    display: flex;
}
.title{
    width: 120px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 15px;
    color: white;
    overflow: hidden;
}
.title .subtitle{
    font-size: 12px;
}
.icons{
    padding-bottom: 5px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    overflow: hidden;
}
.music ,.down{
    font-size: 20px;
    margin-right: 18px ;
    margin-left: 18px;
}
.song::before{
    content:'';
    position: absolute;
    width: 50%;
    right:200px;
    height: 270px;
    overflow: hidden;
    z-index: -1;
}
.nav{ 
    position: relative;
    width: 100%;
    margin: auto;
    padding-top: 10px;
    color: #4c5262;
    display: flex;
    justify-content: space-between;
    transition: 0.1s linear;
}
.nav li{
    list-style: none;
    padding-right: 100px;
}
.nav li:nth-child(1){
    color: white;
}
.nav li:hover{
    color: white;
}
.main_nav{
    display: flex;
    justify-content: space-evenly;
    color: white;
}
.input{
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    z-index: 4;
    height:25px;
}
.Input .bi{
    position: relative;
    top:5px;
    padding: 25px 10px 0px 10px;
    color: #4c5262;
}
.nav li span{
    width: 20%;
    position: absolute;
    background: #36e2ec;
    height: 2px;
    top: 35px;
    left: -7px;

}
.Input{
    margin-top: 10px;
    border-radius: 20px;
    height: 30px;
    backdrop-filter: blur(10px);
}
.video{
    width: 80%;
    height: 80.9999%;
    z-index: -1;
    position:absolute;
    top: 37px;
    overflow: hidden;
    opacity: 0.4;
    left:190px;
}

.content{
    width: 90%;
    height: 30%;
    margin: auto;
    margin-top: 40px;
    color:rgb(180, 175, 175);
    font-size: 13px;
}
.content h1{
    color: white;
}
.content p{
    margin: 15px;
    width: 90%;
    height: 20%;
}
.content button{
    position: relative;
    bottom: -15px;
    outline:none;
    border: 1px solid #36e2ec;
    width :100px;
    height: 30px;
    background: #36e2ec;
    border-radius: 20px;
    color: white;
    margin-left: 10px;
    transition: 0.1s linear;
}
.content button:nth-child(1){
    background: none;
    color: #36e2ec;
}
.content button:hover{
    background: none;
    color: #36e2ec;
}
.main_nav div img{
    margin-top: 6px;
    width: 40px;
    height: 30px;
}
.popular{
    width: 85%;
    margin: auto;
    color :white;
    display: flex;
    justify-content: space-between;
}
.popular1{
    width:90%;
    margin: auto;
    height: 27%;
    overflow: auto;
    display: flex;
    scroll-behavior: smooth;

}
.music{
    color:#ffffff;
    height: 120px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.music img{
    position: relative;
    width:100px;
    height:120px;
    left:10px;
    border-radius: 20px;
}
.popular1 h1{
    text-align: center;
    position: relative;
    font-size: 12px;
    padding-left: 10px;
    color: white;
    overflow:none;
    width:120px;
    top: -5px;
 }
 .popular1::-webkit-scrollbar{
    display:none;
 }
.popular1 div{
    margin-top: 5px;
    height: 90%;
    border-radius: 20px;
    transition: 0.1s linear;
}
.popular1 div:hover{
    background-color:rgb(105, 105, 105,.9);
}
.music .bi{
    z-index: 3;
    position: relative;
    left: -48px;
    opacity: 0;
    transition: .1s linear;
}
.music:hover .bi{
    opacity:1;
}
.line{
    position: relative;
    top: 30px;
    margin: auto;
    width: 80%;
    height: 2px;
    background: #36e2ec;
    border-radius: 20px;
}
.artist {
    position: relative;
    width: 90%;
    left: 64px;
    height: auto;
    color: white;
    font-size: 7px;
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
}
.artist::-webkit-scrollbar{
    display:none;
}
.artist div{
    text-align: center;
    width:120px ;
    height: 120px;
    border-radius: 20px;
    margin-right: 30px;
    margin-left: 5px;
}
.artists{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    height: 100px;
    width: 100px;
    
}
.artists img{
    border-radius: 50%;
    width:80%;
    height:80%;
}
.artists:hover{
    background-color: rgb(105, 105, 105,.5);
}
.heading{
  position: relative;
  margin-top: 55px;
  margin-left: 70px;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 80%;

}
#left:hover,#right:hover,#leftarr:hover,#rightarr:hover{
    background-color: rgb(105, 105, 105,.5);
    border-radius: 50%;
}